src/main/java/com/springboot/spring/learningspring/enterprise/data/xml/course-details.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost:8090/course" xmlns:tns="http://localhost:8090/course" elementFormDefault="qualified">
    <element name="GetCourseDetailsRequest">
        <complexType>
            <sequence>
                <element name="id" type="integer"></element>
                <element name="name" type="string"></element>
                <element name="author" type="string"></element>
            </sequence>
        </complexType>
    </element>

</schema>